/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 102px;

  

  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--text-font-weight, 400);
  background-color: var(--background-color, #000);
  color: var(--text-color, #fff);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
}

.main__page {
  display: grid;
  gap: 54px;
  justify-items: center;
  align-items: center;
  
  padding-bottom: 105px;
}

.title__page {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__page {
  margin-block-end: 104px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
  font-family: var(--accent-font,"PressStart2P");
  font-style: normal;
  line-height: normal;
  border: 2px solid var(--text-color, #000);
  background: var(--background-color, #FFF);
  max-width: 696px;
  margin-inline: auto;
}

.header__title {
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-bottom: 20px;
}

.header__subtitle {
  margin-bottom: 25px;

  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  cursor: pointer;

  border: none;
  background-color: transparent;
  
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  appearance: none;

  transition: 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: 0px;
  animation: moving 0.5s ease-in-out infinite alternate;
}
/* main cards on the page(START) */

.cards__list {
  display: grid;
  gap: 54px;
}

.card {
  max-width: 696px;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--text-color, #000);

  margin-inline: auto;
}

.card h2 {
  border-bottom: 2px solid var(--text-color, #000);

  padding: 3px 10px;
}

.card__header-title {
  font-size: 18px;
  font-family: var(--main-font, "Inter");
  font-variation-settings: "wght" var(--header-font-weight, 700);
  font-style: normal;
  line-height: normal;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card__description {
  border-top: 2px solid var(--text-color, #000);
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  line-height: 21px;
}

.card__feedback {
  display: flex;
  
  justify-content: end;
  align-items: stretch;
  padding: 0px 25px 25px 25px;
  gap: 12px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 0;

  cursor: pointer;
  transition: border 0.3s ease;
}

.feedback__button {
  position: relative;

  border: 2px solid var(--text-color, #000);
  background-color: var(--background-color, #fff);
  padding: 9px 17px;
  font-family: var(--accent-font, "PressStart2P");
  font-size: 14px;
  align-items: center;
  line-height: 90%  ; /* 12.6px */
  font-variation-settings: "wght" var(--text-font-weight, 400);
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.5s ease;
}

.button__text {
  padding: 9px 17px;
  color: var(--button-text, #fff);  
  mix-blend-mode: difference;
}

.image__sneath {
  position: relative;
}

.image__text {
  position: absolute;
  z-index: 1;
  inset-inline-end: 11px;
  inset-block-start: 23px;

  

  
  font-family: var(--accent-font, "PressStart2P");
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  opacity: 0.5;
  color: var(--text-color, #000);
  text-shadow: 0 0 1px var(--background-color, #fff);
  mix-blend-mode: hard-light;
}

/* main cards on the page(END) */


/* все ховеры и тд START(top to bottom) */

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: 0;
  opacity: 0.6  ;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;

  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
} 

.feedback__button:focus {
  outline: 0;
}

.feedback__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000);
}

.feedback__button::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
  background-color: var(--text-color, #000);
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.feedback__button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000);
}

/* все ховеры и тд END */

.button__save {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 15px 20px;
  align-content: center;
}

.button__icon {
  color: var(--button-text, #fff);  
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

.dialog__button {
  width: 100%;
}

.dialog {
  max-width: 355px;
  padding: 31px 31.5px;
  

  color: var(--text-color, #000);
  font-family: var(--accent-font, "PressStart2P");
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  background: var(--background-color, #fff);
}

.dialog[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.floppy__open {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  align-content: center;
}

.dialog::backdrop {
  opacity: 75%;
  background: var(--black, #000);
}

.filter__brightness {
  filter: brightness(135%);
}

.filter__multimillioner {
  filter: brightness(68%) saturate(0%) contrast(184%);
}

.filter__sepia {
  filter: sepia(30%);
}

.filter__hue {
  filter: hue-rotate(115deg);
}

.filter__saturate {
  filter: saturate(300%);
}

.filter__gray {
  filter: grayscale(50%);
}

.filter__blur {
  filter: blur(20px);
}

@supports ( (-webkit-text-stroke: 1px var(--background-color, #fff)) ) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #fff);
  }
}

@media (width <= 375px) {

  .button__save {
    flex-direction: column;
  }

  .button__icon {
    width: 28px;
    height: 28px;
  }

  .dialog {
    padding: 32px 42px;
    max-width: 341px;
  }
} 


